::-moz-selection { /* Code for Firefox */

  color: #bfa9a1;
  background: black;


}


::selection {
  color: #bfa9a1;
  background: black;
}







*{
font-family: Noto Sans;

}




a {
  text-decoration: none;
}



.active {
  background-color: #4CAF50;
}




















body{

        color: #bfa9a1;
        background: #121110;

        max-width: 800px;
        margin-left:auto;
        margin-right:auto;

}



h1 {


        color: #bfa9a1

}


h1 {

        text-align: center;


}
h1 {
  background: -webkit-linear-gradient(#bfa9a1, #121110);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2{
        text-align:center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}


footer {
  text-align: center;
  padding: 3px;
  color:#ffb986


}

a:visited {
  color:  #4B4E41;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #C1A398; /* Magenta */
  background-color: transparent;
  text-decoration: underline;
}


/*
.wrapper > ul:first-child > li:last-child {
}
.wrapper > ul:first-child > li:last-child > * {
  color: initial;
  list-style-type: disc;
  list-style-position: inside;
     list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
      list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;

}


.my_container ul
{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}

.my_container li
{
    display: list-item;
}
.my_container ol, .my_container ul {
    list-style: revert;
    overflow: visible;
}
        */

